extends layout

block title
  | Är domänen #{domain} ledig?

block content
  case result
    when 'FREE'
      include result-page/free
    when 'OCCUPIED'
      include result-page/occupied
    when 'NOT_VALID'
      include result-page/not-valid
