extends layout

block title
  | Är domänen #{domain} ledig?

block content
  case result
    when 'FREE'
      include free
    when 'OCCUPIED'
      include occupied
    when 'NOT_VALID'
      include not-valid
