extends layout

block content
  h1= title
  p Try 
    ul
      li
        a(href='/aftonbladet.se') aftonbladet.se
      li
        a(href='/___.se') ___.se
      li
        a(href='/asdasdasdasdasd.se') asdasdasdasdasd.se
