extends layout

block content
  header
    h1.title isfree.se
    h2.instructions
      include shared/instructions
  section.index-page__example
    h3.example__title Andra exempel
    ul.example__list
      li.example__list-item
        a(href='/aftonbladet').url aftonbladet.se
        |  är upptagen
      li.example__list-item
        a(href='/extremtledig').url extremtledig.se
        |  är förmodligen ledig
      li.example__list-item
        a(href='/_",:').url _",:.se
        |  är en ogiltig domän
  footer.index-page__about
    h3.about__title Om isfree.se
    p.about__text.
      Tjänsten utvecklas, uppdateras och sköts av 
      #[a(href='http://kristofer.palmvik.se') Kristofer Palmvik]
      bara för att det är roligt.

    a(href='https://github.com/kpalmvik/isfree.se').about__source-code.
      Källkod
