:root,
body {
  min-height: 100dvh;
  color: #f2f2f2;
}

body {
  background: #1763a6;
  padding: 1rem 2rem;
}

.content {
  max-width: 30rem;
  margin: 0 auto;
}

a {
  color: #f2cc00;
  border-bottom: 2px solid #f2cc00;
}

.title {
  font-size: 3rem;
  line-height: 3.5rem;
}

.instructions,
.result-page__description {
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: normal;
  margin: 0;
}

.index-page__search {
  margin: 0;
  padding: 2rem 0 1rem;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.search-form__label {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  width: 100%;
}

.search-form__prefix {
  display: none;
}

@media (min-width: 500px) {
  .search-form__prefix {
    display: block;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.search-form__input {
  position: relative;
  font-size: 1.2rem;
  padding: 0.2rem 0.3rem;
  border: 2px solid #f2cc00;
  border-radius: 0.5rem;
  flex-grow: 1;

  &::placeholder {
    color: hsl(51, 0%, 60%);
  }

  &:focus {
    outline: none;
    border-color: rgb(156, 145, 84);

    &::placeholder {
      color: transparent;
    }
  }
}

.search-form__submit {
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #f2cc00;
  background-color: #f2cc00;
  color: #1763a6;
  cursor: pointer;
}

.result-page__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 1.5rem;
}

.example__title,
.about__title,
.usage__title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.example__text {
  margin-bottom: 1rem;
}

.example__list {
  font-size: 1rem;
  margin: 0;
  padding-left: 1.5rem;
  list-style: circle;
  line-height: 2rem;
}

@media (min-width: 500px) {
  .example__list--columns {
    columns: 2;
  }
}

.example__list-item {
  line-height: 1.8rem;
  margin-bottom: 0.1rem;
}

.about__source-code {
  display: block;
  margin: 1rem 0;
  text-align: center;
  border: none;
  font-size: 0.9rem;
  text-decoration: underline;
  color: #f2f2f2;
}

.about__version {
  text-align: center;
  font-size: 0.7rem;
  color: #2a7bc2;
}

.url {
  border-bottom: 2px solid #f2cc00;
}

.url-nobreak {
  color: #f2cc00;
}

.url,
.url-nolink {
  color: #f2cc00;

  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.updated-at {
  padding-top: 1rem;
  font-size: 0.8rem;
}
