:root {
  --color-sky: #1763a6;
  --color-sky-light: #70a8d9;
  --color-light: #f2f2f2;
  --color-gold: #f2cc00;
  --color-gold-dark: #9c9154;
  --color-dusk: #999999;
}
:root,
body {
  min-height: 100dvh;
  color: var(--color-light);
}

body {
  background: var(--color-sky);
  padding: 1rem 2rem;
}

.content {
  max-width: 30rem;
  margin: 0 auto;
}

a {
  color: var(--color-gold);
  border-bottom: 2px solid var(--color-gold);
}

.pre-title {
  /** Visually hidden **/
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.title {
  font-size: 3rem;
  line-height: 3.5rem;
}

.instructions,
.result-page__description {
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: normal;
  margin: 0;
}

.index-page__search {
  margin: 0;
  padding: 2rem 0 1rem;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.search-form__label {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  width: 100%;
}

.search-form__prefix {
  display: none;
}

@media (min-width: 500px) {
  .search-form__prefix {
    display: block;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.search-form__input {
  position: relative;
  font-size: 1.2rem;
  padding: 0.2rem 0.3rem;
  border: 2px solid var(--color-gold);
  border-radius: 0.5rem;
  flex-grow: 1;

  &::placeholder {
    color: var(--color-dusk);
  }

  &:focus {
    outline: none;
    border-color: var(--color-gold-dark);

    &::placeholder {
      color: transparent;
    }
  }
}

.search-form__submit {
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-gold);
  background-color: var(--color-gold);
  color: var(--color-sky);
  cursor: pointer;
}

.result-page__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 1.5rem;
}

.example__title,
.footer__title,
.usage__title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.example__text {
  margin-bottom: 1rem;
}

.example__list {
  font-size: 1rem;
  margin: 0;
  padding-left: 1.5rem;
  list-style: circle;
  line-height: 2rem;
}

@media (min-width: 500px) {
  .example__list--columns {
    columns: 2;
  }
}

.example__list-item {
  line-height: 1.8rem;
  margin-bottom: 0.1rem;
}

.nyord-years {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  scroll-behavior: smooth;
}

.nyord-year {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  min-width: 100%;
  scroll-snap-align: start;
  padding-bottom: 2rem;
}

.nyord-nav {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  > li > a {
    color: var(--color-light);
    border-bottom-color: var(--color-light);
    border-bottom-width: 1px;
  }
}

.footer {
  max-width: 30rem;
  margin: 0 auto;
}

.footer__details {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem 1.5rem;
  margin: 0;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  color: var(--color-sky-light);
  font-size: 0.7rem;

  a {
    color: currentColor;
    border-bottom-color: currentColor;
    border-bottom-width: 1px;
  }
}

@media (min-width: 500px) {
  .footer__details {
    flex-direction: row;
  }
}

.footer__version {
  text-align: center;

  a {
    color: currentColor;
    border-bottom-color: currentColor;
    border-bottom-width: 1px;
  }
}

.url {
  border-bottom: 2px solid var(--color-gold);
}

.url-nobreak {
  color: var(--color-gold);
}

.url,
.url-nolink {
  color: var(--color-gold);

  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.updated-at {
  padding-top: 1rem;
  font-size: 0.8rem;
}
